$black: #000;
$nav-color:#778699;
$nav-color-active: #006FD6;
$nav-bg-color-active: #DEEFFF;
$black-1: #19191D;
$black-2: #0F1A4F;
$grey-1: #9696A0;
$primary-color: #8AFFC1;


$header-text-color: #2e2e2e;
$paragraph-text-color: #6c6c6c;

$gray: #b4b4b4;
$light-gray: #f6f6f6;
$hover-color: #f3efef;
$white: #fff;
$danger-color: #dc3545;
$warning-color: #ffc107;
$success-color: #28a745;



$color1: #AEFFD8;
$color2: #8AFFC1;
$color3: #8FDC97;
$color4: #AC8887;
$color4: #9F4A54;


@mixin media-sm {
    @media screen and (min-width: 500px){
        @content;
    }
}
@mixin media-md {
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1100px){
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px){
        @content;
    }
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

